@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-GENZ-Green: #a4bc46;
  --color-GENZ-BLACK: #363958;
  --color-GENZ-ORANGE: #fabe4c;
  --color-GENZ-LIGHT-DARK: #3e3e3e;
  --color-GENZ-HEADER-BG: #fffbf0;
  --color-GENZ-HEAD-TEXT: #3c3c3c;
  --color-GENZ-PARA: #3e3e3e;
  --color-PRODUCT-BG: #f1f1f1;
}

.greenlinear {
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
}

.custom-shadow {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}